:root {
    --color-green: hsl(75, 94%, 57%);
    --color-gray-700: hsl(0, 0%, 20%);
    --color-gray-800: hsl(0, 0%, 12%);
    --color-gray-900: hsl(0, 0%, 8%);
    --color-white: hsl(0, 0%, 100%);
    --font-family: 'Inter', sans-serif;
    --transition: 100ms cubic-bezier(0.4, 0, 0.2, 1);
}

body {
    height: 100vh;
    font-family: var(--font-family);
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color-gray-900);
    color: var(--color-white);
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0.02em;
    
}

a {
    text-decoration: none;
    color: inherit;
}

button {
    cursor: pointer;
}

img{
    display: block;
    
}

.container{
    width: 375px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}  